#blacklist everything
*

#whitelist files and folders in root
!/* 

#whitelist nested source folders
!/PottsPlayground/*

#whitelist source file types
!*.py
!*.h
!*.cpp
!*.cu
!*.rst
!*.bat
!*Makefile