# full iCEstick pinout:
# http://www.pighixxx.com/test/portfolio-items/icestick/

#set_io --warn-no-port RX 9
#set_io --warn-no-port TX 44

set_io LED1 99
set_io LED2 98
set_io LED3 97
set_io LED4 96
set_io LED5 95

set_io clk 21

#set_io INBIT1 45
#set_io INBIT2 47
#set_io INBIT3 48
#set_io INBIT4 56

#set_io NEXTBIT 60
#set_io NEXTLINE 61
#set_io CLR 62
