set_io -nowarn FTDI_cfg_cs        1
set_io -nowarn FTDI_mosi        2
set_io -nowarn FTDI_miso        41 //5
set_io -nowarn FTDI_sck        7
set_io -nowarn clk16      42 //6
set_io -nowarn clk2 	8
set_io -nowarn UWB_MOSI 22
set_io -nowarn UWB_CS   23
set_io -nowarn UWB_MISO 26
set_io -nowarn UWB_SCK  43 //27 
set_io -nowarn ADC_clk  31